/* ------------------- */
/* Reset ------------- */
/* ------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
a,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-sans-cond);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* padding-block-end: 5rem; */

  color: hsl(var(--clr-light));
  background-color: hsl(var(--clr-dark));
}

/* A elements */
a,
a:visited {
  text-decoration-skip-ink: auto;
  color: hsl(var(--clr-accent));
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--clr-brand) / 0.1);
  border-radius: var(--br);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-accent));
  border-radius: var(--br);
}

/* ------------------- */
/* Custom Properties - */
/* ------------------- */

:root {
  /* colors */
  --clr-light: 196 27% 94%;
  --clr-dark: 199 88% 6%;
  --clr-brand: 197 89% 53%;
  --clr-accent: 33 89% 54%;

  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font famillies */

  --ff-sans-norm: 'Rubik', sans-serif;
  --ff-sans-cond: 'Roboto condensed', sans-serif;

  /* spacing */

  --gap: 1rem;

  /* border radius */
  --br: 0.5rem;

  /* image border */
  --img-b: 0.2em;
}

/* ------------------- */
/* Utility Classes --- */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-row {
  grid-template-columns: 1fr 1fr;
}

.container {
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-brand {
  background-color: hsl(var(--clr-brand));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-brand {
  color: hsl(var(--clr-brand));
}

.text-accent {
  color: hsl(var(--clr-accent));
}
brass kn .ff-sans-norm {
  font-family: var(--ff-sans-norm);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.p-1 {
  padding: 1rem;
}
.mi-1 {
  margin-inline: 1rem;
}
.mi-2 {
  margin-inline: 2rem;
}
.mi-3 {
  margin-inline: 3rem;
}

/* --------------- */
/* Components ---- */
/* --------------- */

/* Layout */

.body {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas:
    'header header header'
    '. main .'
    'footer footer footer';
}

.header-bar {
  grid-area: header;
}

.container {
  grid-area: main;
  width: 100%;
}

.footer-bar {
  grid-area: footer;
}

.page {
  display: grid;
  gap: var(--gap, 1rem);
}

/* General components */

.page-header {
  padding: 0.5em 0.5em;
  margin-top: 0.5em;

  font-size: var(--fs-500);
  text-transform: uppercase;
  text-align: center;
  background-color: hsl(var(--clr-brand) / 0.5);
  border-radius: var(--br);
  box-shadow: hsl(var(--clr-light) / 0.5) 0.25rem 0.25rem;
}

.card {
  background-color: hsl(var(--clr-brand) / 0.25);
  border-radius: var(--br);
  box-shadow: hsl(var(--clr-light) / 0.5) 0.25em 0.25em;
}

.card-header {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  padding: 0.5em 0.75em;
  text-transform: capitalize;
}

/* .card-right {
  margin-left: 5rem;
  margin-right: 1rem;
}

.card-left {
  margin-right: 5rem;
  margin-left: 1rem;
} */

/* Logo component */
.logo {
  box-sizing: content-box;
  width: min(50%, 10rem);

  padding: 0.5em 1em;

  fill: hsl(var(--clr-accent));
  border-radius: var(--br);
  margin: var(--gap, 0.5em);
  border: var(--img-b) solid hsl(var(--clr-brand) hsl(var(--clr-brand) / 0.25));
}

.logo:hover {
  color: hsl(var(--clr-dark));
  fill: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-brand) / 1);
  border-color: hsl(var(--clr-accent));
}

/* Header components */

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(var(--clr-brand) / 0.25);
  padding-inline: 1em;
}

.nav-buttons {
  justify-content: end;
  gap: var(--gap, 1rem);
  align-items: center;
}

.nav-buttons > * {
  padding: 0.5em 0.75em;
  border: var(--img-b) solid hsl(var(--clr-brand));
  border-radius: var(--br);
  background-color: hsl(var(--clr-brand) / 0.1);
  font-family: var(--ff-sans-norm);
  font-weight: 600;
}

.menu-icon {
  box-sizing: content-box;
  width: 1.75em;

  padding: 0.5em 0.75em;
  margin-inline: 1em;

  border-radius: var(--br);

  fill: hsl(var(--clr-accent));
}

.nav-buttons > *:hover,
.menu-icon:hover {
  color: hsl(var(--clr-dark));
  fill: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-brand) / 1);
  border-color: hsl(var(--clr-accent));
  border-radius: var(--br);
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: hsl(var(--clr-dark));
  padding: 5px 10px;
  border: 1px solid hsl(var(--clr-accent));
  border-radius: var(--br);
  top: 50%;
  right: 50%;
}

.nav-mobile {
  display: inherit;
  position: relative;
}

.nav-desktop {
  display: none;
}

@media (min-width: 43em) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: inherit;
  }
}

/* Footer components */

.footer-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap, 1rem);
  padding: 1rem;
  margin-block-start: 2rem;
  background-color: hsl(var(--clr-dark));
  border-top: 0.1rem solid hsl(var(--clr-brand) / 0.5);
  font-family: var(--ff-sans-norm);
}

/* Home page components */

.news-item {
  margin: 0 1em 1em;
  padding: 1em;
  border-radius: var(--br);
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-brand) / 1);
}

.image-scroller-container {
  display: none;
}
.image-scroller {
  display: grid;

  gap: var(--gap, 1rem);
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  padding: 0.5rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.scroll-snap {
  scroll-snap-type: inline mandatory;
}

.scroll-snap > * {
  scroll-snap-align: center;
  scroll-padding-inline: 2rem;
}

.image-scroller::-webkit-scrollbar {
  width: 2em;
}

.image-scroller::-webkit-scrollbar-track {
  background-color: hsl(var(--clr-brand) / 0.1);
  border-radius: var(--br);
}

.image-scroller::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-accent));
  border-radius: var(--br);
}

/* About page components */
.about-page {
  grid-template-columns: 1fr;
  grid-template-areas: '';
}

.about-image {
  border: var(--img-b) solid hsl(var(--clr-accent));
  border-radius: var(--br);
  margin: 0.5em;
}

/* Schedule page components */

.schedule-grid {
  display: grid;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);

  margin-block-start: 0.5em;
  padding: 0.5em 1em;
  background-color: hsl(var(--clr-brand) / 0.1);
  border-radius: var(--br);
  margin-inline: 0.7em;
  box-shadow: hsl(var(--clr-dark) / 0.5) 0.25em 0.25em;
}

.event-row:hover {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-brand));
}

.event-row p {
  text-transform: capitalize;
}

.event-row-home {
  grid-template-columns: repeat(2, 1fr);
}

.event-row-schedule {
  flex: 1 1 20%;
}

.event-row-past {
  color: hsl(var(--clr-light) / 0.5);
}

/* Gallery page components */

.image {
  border-radius: var(--br);
  box-shadow: hsl(var(--clr-brand) / 0.5) 0.5rem 0.5rem;
  margin: 0.75rem;
}

.image:hover,
.image:focus {
  box-shadow: hsl(var(--clr-accent)) 0.5rem 0.5rem;
}

.image > img {
  border-radius: var(--br);
}

.image-element {
  padding: 0.5rem;
}

.image-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: var(--br);
  box-shadow: hsl(var(--clr-brand) / 0.5) 0.5rem 0.5rem;
}

.video {
  margin: 1rem;
}
.video > iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--br);
}

@media (min-width: 43em) {
  /* .body {
    grid-template-columns: 3rem 1fr 3rem;
  } */

  .image-scroller-container {
    display: inherit;
  }

  .about-page {
    display: grid;
    grid-template-columns: 80ch, 40ch;
    grid-template-areas:
      'about-1 about-1'
      'about-2 about-image'
      'about-3 about-3'
      'about-4 about-4';
  }

  .about-1 {
    grid-area: about-1;
  }

  .about-2 {
    grid-area: about-2;
  }

  .about-3 {
    grid-area: about-3;
  }

  .about-4 {
    grid-area: about-4;
  }

  .about-image {
    grid-area: about-image;
    max-width: 25rem;
  }
}

@media (min-width: 62em) {
  .about-page {
    display: grid;
    grid-template-columns: 80ch, 40ch;
    grid-template-areas:
      'about-1 about-1'
      'about-2 about-image'
      'about-3 about-image'
      'about-4 about-4';
  }

  .about-1 {
    grid-area: about-1;
  }

  .about-2 {
    grid-area: about-2;
  }

  .about-3 {
    grid-area: about-3;
  }

  .about-4 {
    grid-area: about-4;
  }

  .about-image {
    grid-area: about-image;
    max-width: 25rem;
  }
}
@media (min-width: 82em) {
  /* .body {
    grid-template-columns: 9rem 1fr 9rem;
  } */
} ;
